<!DOCTYPE html>
<html>
<head>
<title>Rate Music Site-menu</title>
</head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
<h1>menu</h1>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      </button>
      <a class="navbar-brand" href="{{url_for('menu')}}">menu</a>
      <a class="navbar-brand" href="{{url_for('pop')}}">pop</a>
      <a class="navbar-brand" href="{{url_for('rock')}}">rock</a>
      <a class="navbar-brand" href="{{url_for('edm')}}">edm</a>
      <a class="navbar-brand" href="{{url_for('suggest')}}">suggest</a>
      <a class="navbar-brand" href="{{url_for('about')}}">about</a>
    </div>
</nav>

<body>
<h3>Welcome to the meet music site</h3>
<h4>In this site you can listen to great music and suggest for uploading music that you love</h4>

</body>
</html>
