<!DOCTYPE html>
<html>
<head>
<title>Rate Music Site-pop</title>
</head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
<h1>pop</h1>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      </button>
      <a class="navbar-brand" href="{{url_for('menu')}}">menu</a>
      <a class="navbar-brand" href="{{url_for('pop')}}">pop</a>
      <a class="navbar-brand" href="{{url_for('rock')}}">rock</a>
      <a class="navbar-brand" href="{{url_for('edm')}}">edm</a>
      <a class="navbar-brand" href="{{url_for('suggest')}}">suggest</a>
      <a class="navbar-brand" href="{{url_for('about')}}">about</a>
    </div>
</nav>
<div>
	<h3>number 1:</h3>
	<a href="https://www.youtube.com/watch?v=JGwWNGJdvx8"> Ed Sheeran - shape of you </a>
	<button type="button">song</button>


	<h3>number 2:</h3>
	<a href="https://www.youtube.com/watch?v=papuvlVeZg8">Clean Bandit - Rockabyes</a>
	<button type="button">menu</button>


	<h3>number 3:</h3>
	<a href="https://www.youtube.com/watch?v=34Na4j8AVgA">The Weeknd - Starboy ft. Daft Punk</a>
	<button type="button">menu</button>


	<h3>number 4:</h3>
	<a href="https://www.youtube.com/watch?v=PT2_F-1esPk">The Chainsmokers - Closer ft. Halsey</a>
	<button type="button">menu</button>


	<h3>number 5:</h3>
	<a href="https://www.youtube.com/watch?v=3AtDnEC4zak">Charlie Puth - We Don't Talk Anymore feat. Selena Gomez</a>
	<button type="button">menu</button>


	<h5>suggest a song:</h5>
	<a href="{{url_for('suggest')}}"><button type="button">suggest song!</button></a>
	
</div>


<body>


</body>
</html>
