<!DOCTYPE html>
<html>
<head>
<title>Rate Music Site-suggest</title>
</head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
<h1>suggest</h1>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      </button>
      <a class="navbar-brand" href="{{url_for('menu')}}">menu</a>
      <a class="navbar-brand" href="{{url_for('pop')}}">pop</a>
      <a class="navbar-brand" href="{{url_for('rock')}}">rock</a>
      <a class="navbar-brand" href="{{url_for('edm')}}">edm</a>
      <a class="navbar-brand" href="{{url_for('suggest')}}">suggest</a>
      <a class="navbar-brand" href="{{url_for('about')}}">about</a>
    </div>
</nav>
<input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
<input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
<input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">
<textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
<button type="submit" class="btn btn-xl">Send Message</button>
<a href="{{url_for('menu')}}"></a>


<body>

</body>
</html>
